@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Default Colors */
  --color-brand-primary: var(--color-brand-600);
  --color-default-font: var(--color-neutral-900);
  --color-subtext-color: var(--color-neutral-500);
  --color-neutral-border: var(--color-neutral-200);
  --color-black: var(--color-neutral-950);
  --color-default-background: var(--color-neutral-0);

  /* brand */
  --color-brand-50: rgb(245 243 255);
  --color-brand-100: rgb(235 229 255);
  --color-brand-200: rgb(214 205 252);
  --color-brand-300: rgb(185 170 246);
  --color-brand-400: rgb(147 128 228);
  --color-brand-500: rgb(110 86 207);
  --color-brand-600: rgb(88 66 185);
  --color-brand-700: rgb(68 50 150);
  --color-brand-800: rgb(50 36 110);
  --color-brand-900: rgb(34 22 75);

  /* neutral */
  --color-neutral-0: rgb(255 255 255);
  --color-neutral-50: rgb(249 250 251);
  --color-neutral-100: rgb(243 244 246);
  --color-neutral-200: rgb(229 231 235);
  --color-neutral-300: rgb(209 213 219);
  --color-neutral-400: rgb(156 163 175);
  --color-neutral-500: rgb(107 114 128);
  --color-neutral-600: rgb(75 85 99);
  --color-neutral-700: rgb(55 65 81);
  --color-neutral-800: rgb(31 41 55);
  --color-neutral-900: rgb(17 24 39);
  --color-neutral-950: rgb(3 7 18);

  /* error */
  --color-error-50: rgb(255 241 245);
  --color-error-100: rgb(254 226 235);
  --color-error-200: rgb(251 196 217);
  --color-error-300: rgb(246 155 190);
  --color-error-400: rgb(238 104 156);
  --color-error-500: rgb(225 50 110);
  --color-error-600: rgb(190 28 82);
  --color-error-700: rgb(152 16 62);
  --color-error-800: rgb(108 6 43);
  --color-error-900: rgb(66 2 25);

  /* warning */
  --color-warning-50: rgb(255 244 230);
  --color-warning-100: rgb(255 233 204);
  --color-warning-200: rgb(254 213 163);
  --color-warning-300: rgb(253 185 112);
  --color-warning-400: rgb(250 147 52);
  --color-warning-500: rgb(245 110 8);
  --color-warning-600: rgb(202 82 0);
  --color-warning-700: rgb(158 60 0);
  --color-warning-800: rgb(113 40 0);
  --color-warning-900: rgb(72 23 0);

  /* success */
  --color-success-50: rgb(240 253 220);
  --color-success-100: rgb(220 248 183);
  --color-success-200: rgb(190 238 138);
  --color-success-300: rgb(152 220 87);
  --color-success-400: rgb(118 194 48);
  --color-success-500: rgb(90 161 30);
  --color-success-600: rgb(67 128 20);
  --color-success-700: rgb(49 97 13);
  --color-success-800: rgb(33 67 7);
  --color-success-900: rgb(20 42 3);

  /* Fonts */
  --text-caption: 12px;
  --text-caption--font-weight: 400;
  --text-caption--letter-spacing: 0em;
  --text-caption--line-height: 16px;
  --text-caption-bold: 12px;
  --text-caption-bold--font-weight: 500;
  --text-caption-bold--letter-spacing: 0em;
  --text-caption-bold--line-height: 16px;
  --text-body: 14px;
  --text-body--font-weight: 400;
  --text-body--letter-spacing: 0em;
  --text-body--line-height: 20px;
  --text-body-bold: 14px;
  --text-body-bold--font-weight: 500;
  --text-body-bold--letter-spacing: 0em;
  --text-body-bold--line-height: 20px;
  --text-heading-3: 16px;
  --text-heading-3--font-weight: 600;
  --text-heading-3--letter-spacing: 0em;
  --text-heading-3--line-height: 20px;
  --text-heading-2: 20px;
  --text-heading-2--font-weight: 600;
  --text-heading-2--letter-spacing: 0em;
  --text-heading-2--line-height: 24px;
  --text-heading-1: 30px;
  --text-heading-1--font-weight: 600;
  --text-heading-1--letter-spacing: 0em;
  --text-heading-1--line-height: 36px;
  --text-monospace-body: 14px;
  --text-monospace-body--font-weight: 400;
  --text-monospace-body--letter-spacing: 0em;
  --text-monospace-body--line-height: 20px;

  /* Font families */
  --font-caption: "Public Sans";
  --font-caption-bold: "Public Sans";
  --font-body: "Public Sans";
  --font-body-bold: "Public Sans";
  --font-heading-3: "Public Sans";
  --font-heading-2: "Public Sans";
  --font-heading-1: "Public Sans";
  --font-monospace-body: monospace;

  /* Box shadows */
  --shadow-sm: 0px 1px 2px 0px rgb(0 0 0 / 0.05);
  --shadow-default: 0px 1px 2px 0px rgb(0 0 0 / 0.05);
  --shadow-md: 0px 4px 16px -2px rgb(0 0 0 / 0.08),
    0px 2px 4px -1px rgb(0 0 0 / 0.08);
  --shadow-lg: 0px 12px 32px -4px rgb(0 0 0 / 0.08),
    0px 4px 8px -2px rgb(0 0 0 / 0.08);
  --shadow-overlay: 0px 12px 32px -4px rgb(0 0 0 / 0.08),
    0px 4px 8px -2px rgb(0 0 0 / 0.08);

  /* Border radiuses */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-full: 9999px;

  /* Spacing */
  --spacing-112: 28rem;
  --spacing-144: 36rem;
  --spacing-192: 48rem;
  --spacing-256: 64rem;
  --spacing-320: 80rem;
}

/* Container */
@utility container {
  padding-left: 16px;
  padding-right: 16px;

  @media (width >= theme(--breakpoint-sm)) {
    padding-left: calc((100vw + 16px - 640px) / 2);
    padding-right: calc((100vw + 16px - 640px) / 2);
  }

  @media (width >= theme(--breakpoint-md)) {
    padding-left: calc((100vw + 16px - 768px) / 2);
    padding-right: calc((100vw + 16px - 768px) / 2);
  }

  @media (width >= theme(--breakpoint-lg)) {
    padding-left: calc((100vw + 16px - 1024px) / 2);
    padding-right: calc((100vw + 16px - 1024px) / 2);
  }

  @media (width >= theme(--breakpoint-xl)) {
    padding-left: calc((100vw + 16px - 1280px) / 2);
    padding-right: calc((100vw + 16px - 1280px) / 2);
  }

  @media (width >= theme(--breakpoint-2xl)) {
    padding-left: calc((100vw + 16px - 1536px) / 2);
    padding-right: calc((100vw + 16px - 1536px) / 2);
  }
}

@custom-variant mobile (@media (max-width: 767px));
